# Generated Doxygen documentation
docs/doxygen/
docs/README_API.md

# Versioning file (generated on build)
include/malbolge/version.hpp

# Playground WASM application
playground/malbolge.wasm
playground/malbolge.js
playground/malbolge.worker.js

# IDE cruft
build/
*.creator.user
*.txt.user
.vscode/
.vs/
